<h3>Enter vehicle details:</h3>
<form action="/vehicles" method="post">
  <input type="text" name="make" placeholder="Make">
  <input type="text" name="model" placeholder="Model">
  <input type="text" name="mileage" placeholder="Mileage">
  <input type="text" name="colour" placeholder="Colour">
  <input type="text" name="location" placeholder="Location">
  <input type="text" name="value" placeholder="Value">

  <input type="submit" value="Save">
</form>
<a href="/vehicles">View All Vehicles</a>